Repository PauleNajus/MCADS: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, markdownlint --fix, flake8, black --check, eslint --fix

Update favicon to lungs_icon.png and navbar branding
  xrayapp/static/xrayapp/images/lungs_icon.png
  xrayapp/templates/xrayapp/base.html
Due: none

Bug fixes.
  mcads_project/settings.py
  xrayapp/migrations/0010_alter_xrayimage_image.py
  xrayapp/models.py
  xrayapp/static/xrayapp/css/style.css
  xrayapp/static/xrayapp/js/common.js
  xrayapp/static/xrayapp/js/results.js
  xrayapp/templates/xrayapp/results.html
Due: stylelint --fix, flake8, black --check, eslint --fix

OOD warning implementation.
  docker-compose.yml
  xrayapp/inference_logic.py
Due: flake8, black --check

Add Lithuanian language support and fix translation duplicates.
  locale/lt/LC_MESSAGES/django.po
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/results.html
Due: none

Update theme logic and improve language switching in user settings
  xrayapp/static/xrayapp/js/theme.js
  xrayapp/templates/xrayapp/base.html
  xrayapp/views/auth.py
Due: flake8, black --check, eslint --fix

Add .mailmap to merge contributor identities
  .mailmap
Due: none

Bug fixes.
  .mailmap
Due: none

Update date format to YYYY-MM-DD and disable debug mode.
  docker-compose.yml
  mcads_project/settings.py
  xrayapp/static/xrayapp/js/results.js
  xrayapp/templates/xrayapp/account_settings.html
  xrayapp/templates/xrayapp/base.html
Due: flake8, black --check, eslint --fix

Updated the README.md file.
  README.md
Due: markdownlint --fix

Remove .mailmap file
  .mailmap
Due: none

Enhance Docker setup and UI responsiveness.
  .dockerignore
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  scripts/deploy.sh
  xrayapp/static/xrayapp/css/style.css
  xrayapp/static/xrayapp/js/results.js
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/results.html
Due: stylelint --fix, eslint --fix

Refactor UI components for improved consistency and compactness
  xrayapp/static/xrayapp/css/print-results.css
  xrayapp/static/xrayapp/css/style.css
  xrayapp/templates/errors/error_base.html
  xrayapp/templates/registration/logged_out.html
  xrayapp/templates/registration/login.html
  xrayapp/templates/registration/logout.html
  xrayapp/templates/xrayapp/account_settings.html
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/edit_prediction.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/prediction_history.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/templates/xrayapp/saved_records.html
  xrayapp/templates/xrayapp/terms_of_service.html
Due: stylelint --fix

Update OOD detection thresholds, enhance middleware for JSON responses, and improve service health checks
  docker-compose.yml
  mcads_project/settings.py
  scripts/deploy.sh
  xrayapp/inference_logic.py
  xrayapp/middleware.py
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/templates/xrayapp/home.html
Due: flake8, black --check, eslint --fix

Enhance Docker deployment and PyTorch performance tuning
  DOCKER_DEPLOYMENT.md
  Dockerfile
  docker-compose.yml
  mcads_project/settings.py
  xrayapp/__init__.py
  xrayapp/forms.py
  xrayapp/image_processing.py
  xrayapp/inference_logic.py
  xrayapp/migrations/0011_alter_xrayimage_image_filefield.py
  xrayapp/models.py
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/templates/xrayapp/results.html
  xrayapp/views/xray.py
Due: markdownlint --fix, flake8, black --check, eslint --fix

Add DICOM preview functionality and update image processing.
  xrayapp/image_processing.py
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/urls.py
  xrayapp/views/__init__.py
  xrayapp/views/xray.py
Due: flake8, black --check

Add opt-out class for card headers to maintain default styling in Grad-CAM and PLI visualizations. Update versioning for common and results JavaScript files to reflect changes.
  xrayapp/static/xrayapp/js/common.js
  xrayapp/static/xrayapp/js/results.js
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/results.html
Due: eslint --fix

Create ID evaluation scripts for merged datasets benchmark
  research/scripts/evaluate_id_models.py
  research/scripts/finalize_id_results.py
Due: flake8, black --check

Revise test images section in README
  README.md
Due: markdownlint --fix

Update README.md to match remote repository context
  README.md
Due: markdownlint --fix

Update UI, inference, and deployment config; refine research scripts
  .dockerignore
  .gitignore
  README.md
  docker-compose.yml
  research/scripts/evaluate_id_models.py
  research/scripts/finalize_id_results.py
  scripts/backup.sh
  scripts/deploy.sh
  scripts/recreate_postgres_volume.sh
  scripts/reset_db.sh
  scripts/restore.sh
  xrayapp/inference_logic.py
  xrayapp/model_loader.py
  xrayapp/static/xrayapp/css/print-results.css
  xrayapp/static/xrayapp/css/style.css
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/static/xrayapp/js/results.js
  xrayapp/templates/xrayapp/account_settings.html
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/prediction_history.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/urls.py
  xrayapp/views/__init__.py
  xrayapp/views/auth.py
Due: stylelint --fix, markdownlint --fix, flake8, black --check, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  markdownlint --fix: any of: *.{md,markdown}
  flake8: any of: *.py
  black --check: any of: *.py
  eslint --fix: any of: *.{js,jsx,ts,tsx}
