Repository PauleNajus/MCADS: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, markdownlint --fix, flake8, black --check, eslint --fix

Bug fixes.
  Dockerfile
  README.md
  config/calibration.json
  docker-compose.yml
  mcads_project/settings.py
  requirements.txt
  xrayapp/admin.py
  xrayapp/forms.py
  xrayapp/interpretability.py
  xrayapp/interpretability_original.py
  xrayapp/middleware.py
  xrayapp/models.py
  xrayapp/templates/errors/error_base.html
  xrayapp/templates/xrayapp/base.html
  xrayapp/utils.py
  xrayapp/utils_original.py
  xrayapp/views.py
Due: markdownlint --fix, flake8, black --check

Cleanup.
  DEPLOYMENT_SUMMARY.md
  DOCKER_SUMMARY.md
  ENHANCEMENT_SUMMARY.md
Due: markdownlint --fix

Bug fixes.
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  gunicorn_config.py
  mcads_project/settings.py
  xrayapp/interpretability.py
  xrayapp/tasks.py
  xrayapp/views.py
Due: flake8, black --check

Bug fixes.
  xrayapp/model_loader.py
  xrayapp/models.py
  xrayapp/tasks.py
  xrayapp/templates/xrayapp/results.html
  xrayapp/urls.py
  xrayapp/utils.py
  xrayapp/views.py
Due: flake8, black --check

Add input-output explanation and GRAD-CAM example
  README.md
Due: markdownlint --fix

Fix formatting in README for X and Y sections
  README.md
Due: markdownlint --fix

Fix typo in GRAD-CAM heatmap example section
  README.md
Due: markdownlint --fix

Added demonstration images.
  README.md
  data/demonstration/Healthy/Healthy_Chest-x-ray-1007665001.jpeg
  data/demonstration/Healthy/healthy8673617_f520-1060359888.jpg
  data/demonstration/Unhealthy/Chest-X-Ray-Showing-an-Enlarged-Cardiomediastinal-Silhouette-1062710740.jpg
  data/demonstration/Unhealthy/Chest-x-ray-showing-a-complete-opacity-of-the-right-lung-with-mild-mediastinal-shift-1233178775.png
  data/demonstration/Unhealthy/person15_virus_44.jpeg
  data_exports/media_files_info.txt
  data_exports/sqlite_data.json
Due: markdownlint --fix

Added demonstration images.
  data/demonstration/Unhealthy/Chest-X-Ray-Showing-an-Enlarged-Cardiomediastinal-Silhouette-1062710740.jpg
  data/demonstration/Unhealthy/person15_virus_44.jpeg
  data/demonstration/x_unhealthy/Chest-x-ray-showing-a-complete-opacity-of-the-right-lung-with-mild-mediastinal-shift-1233178775.png
  data/demonstration/y_grad_cam_heatmap/gradcam_overlay_157_Lung Opacity.png
Due: none

Removed unescessary sections
  README.md
Due: markdownlint --fix

Added ipynb file.
  notebooks/MCADS.ipynb
Due: none

Bug fixes.
  gunicorn.pid
Due: none

Bug fixes.
  BACKUP_SYSTEM.md
  CHECK_LOGS_AFTER_TEST.sh
  POPULATE_SEVERITY.md
  UPLOAD_FIX_APPLIED.md
  gunicorn.pid
  gunicorn_config.py
  xrayapp/migrations/0008_visualizationresult_confidence_score_and_more.py
  xrayapp/model_loader.py
  xrayapp/templates/errors/error_base.html
Due: markdownlint --fix, flake8, black --check

Bug fixes.
  gunicorn.pid
  mcads_project/settings.py
  xrayapp/static/xrayapp/css/style.css
  xrayapp/static/xrayapp/images/flags/lt.svg
  xrayapp/static/xrayapp/images/flags/us.svg
  xrayapp/templates/xrayapp/base.html
Due: stylelint --fix, flake8, black --check

Bug fixes.
  gunicorn.pid
  xrayapp/templates/xrayapp/edit_prediction.html
  xrayapp/templates/xrayapp/prediction_history.html
Due: none

Migrate MCADS to PostgreSQL-only.
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  docker-compose.prod.yml
  docker-compose.yml
  docker-entrypoint.sh
  gunicorn_config.py
  logs/backup_20250801_142905.log.1
  logs/backup_20250801_143955.log.1
  mcads_project/settings.py
  nginx/mcads.ssl.conf
  requirements.txt
  scripts/backup.sh
  scripts/backup_manager.sh
  scripts/certbot-hooks/deploy-copy-certs-and-restart-nginx.sh
  scripts/certbot-hooks/post-start-docker-nginx.sh
  scripts/certbot-hooks/pre-stop-docker-nginx.sh
  scripts/deploy.sh
  scripts/restore.sh
  scripts/system_backup.sh
  scripts/system_restore.sh
  xrayapp/static/xrayapp/css/style.css
  xrayapp/static/xrayapp/vendor/bootstrap-icons/font/bootstrap-icons.min.css
  xrayapp/static/xrayapp/vendor/bootstrap-icons/font/fonts/bootstrap-icons.woff
  xrayapp/static/xrayapp/vendor/bootstrap-icons/font/fonts/bootstrap-icons.woff2
  xrayapp/static/xrayapp/vendor/bootstrap/css/bootstrap.min.css
  xrayapp/static/xrayapp/vendor/bootstrap/js/bootstrap.bundle.min.js
  xrayapp/static/xrayapp/vendor/fontawesome/css/all.min.css
  xrayapp/static/xrayapp/vendor/fontawesome/webfonts/fa-brands-400.ttf
  xrayapp/static/xrayapp/vendor/fontawesome/webfonts/fa-brands-400.woff2
  xrayapp/static/xrayapp/vendor/fontawesome/webfonts/fa-regular-400.ttf
  xrayapp/static/xrayapp/vendor/fontawesome/webfonts/fa-regular-400.woff2
  xrayapp/static/xrayapp/vendor/fontawesome/webfonts/fa-solid-900.ttf
  xrayapp/static/xrayapp/vendor/fontawesome/webfonts/fa-solid-900.woff2
  xrayapp/static/xrayapp/vendor/fontawesome/webfonts/fa-v4compatibility.ttf
  xrayapp/static/xrayapp/vendor/fontawesome/webfonts/fa-v4compatibility.woff2
  xrayapp/templates/xrayapp/base.html
  xrayapp/urls.py
  xrayapp/views.py
Due: stylelint --fix, markdownlint --fix, flake8, black --check, eslint --fix

Sync main with prod.
  README.md
  requirements.txt
  xrayapp/management/commands/migrate_existing_data.py
  xrayapp/static/xrayapp/css/style.css
Due: stylelint --fix, markdownlint --fix, flake8, black --check

Refactor Django app and Bootstrap UI.
  gunicorn_config.py
  manage.py
  mcads_project/celery.py
  xrayapp/admin.py
  xrayapp/forms.py
  xrayapp/interpretability.py
  xrayapp/management/commands/create_users.py
  xrayapp/management/commands/migrate_existing_data.py
  xrayapp/management/commands/populate_severity_levels.py
  xrayapp/middleware.py
  xrayapp/models.py
  xrayapp/pathology.py
  xrayapp/static/xrayapp/css/print-results.css
  xrayapp/static/xrayapp/css/style.css
  xrayapp/static/xrayapp/js/theme.js
  xrayapp/tasks.py
  xrayapp/templates/errors/error_base.html
  xrayapp/templates/registration/logout.html
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/prediction_history.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/templates/xrayapp/saved_records.html
  xrayapp/templates/xrayapp/terms_of_service.html
  xrayapp/templatetags/xrayapp_extras.py
  xrayapp/utils.py
  xrayapp/views.py
Due: stylelint --fix, flake8, black --check, eslint --fix

Fix upload UX and dark-mode styles.
  xrayapp/static/xrayapp/css/style.css
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/home.html
Due: stylelint --fix, eslint --fix

Fix Grad-CAM consistency and interpretability UI.
  xrayapp/interpretability.py
  xrayapp/templates/xrayapp/results.html
Due: flake8, black --check

Refine results table layout and disclaimer styling.
  xrayapp/static/xrayapp/css/style.css
  xrayapp/templates/xrayapp/results.html
Due: stylelint --fix

Fix DICOM uploads, size limits, and LT translations.
  Dockerfile
  locale/lt/LC_MESSAGES/django.po
  mcads_nginx.conf
  mcads_project/settings.py
  mcads_project/urls.py
  nginx/mcads.conf
  nginx/mcads.ssl.conf
  nginx/nginx.conf
  requirements.txt
  scripts/deploy.sh
  xrayapp/forms.py
  xrayapp/middleware.py
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/templates/errors/400.html
  xrayapp/templates/errors/401.html
  xrayapp/templates/errors/403.html
  xrayapp/templates/errors/404.html
  xrayapp/templates/errors/408.html
  xrayapp/templates/errors/429.html
  xrayapp/templates/errors/500.html
  xrayapp/templates/errors/502.html
  xrayapp/templates/errors/503.html
  xrayapp/templates/errors/504.html
  xrayapp/templates/registration/logged_out.html
  xrayapp/templates/registration/login.html
  xrayapp/templates/registration/logout.html
  xrayapp/templates/xrayapp/account_settings.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/prediction_history.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/templates/xrayapp/saved_records.html
  xrayapp/utils.py
  xrayapp/views.py
Due: flake8, black --check, eslint --fix

Improve production deploy, DICOM conversion speed, and interpretability overlays.
  DOCKER_DEPLOYMENT.md
  docker-compose.prod.yml
  scripts/deploy.sh
  xrayapp/forms.py
  xrayapp/interpretability.py
  xrayapp/static/xrayapp/css/style.css
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/views.py
Due: stylelint --fix, markdownlint --fix, flake8, black --check, eslint --fix

Harden Docker production build context.
  .dockerignore
  nginx/nginx.conf
Due: none

Make nginx host ports configurable.
  docker-compose.prod.yml
  docker-compose.yml
Due: none

Harden security, improve error handling, and fix functional bugs
  DOCKER_DEPLOYMENT.md
  SCALING_GUIDE.md
  mcads_project/settings.py
  xrayapp/admin.py
  xrayapp/interpretability.py
  xrayapp/middleware.py
  xrayapp/model_loader.py
  xrayapp/static/xrayapp/css/print-results.css
  xrayapp/static/xrayapp/css/style.css
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/static/xrayapp/js/service-worker.js
  xrayapp/tasks.py
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/utils.py
  xrayapp/views.py
Due: stylelint --fix, markdownlint --fix, flake8, black --check, eslint --fix

Refactor codebase for modularity, security, and performance
  README.md
  mcads_project/settings.py
  mcads_project/urls.py
  tests/process_image.py
  xrayapp/__init__.py
  xrayapp/admin.py
  xrayapp/forms.py
  xrayapp/image_processing.py
  xrayapp/inference_logic.py
  xrayapp/interpretability.py
  xrayapp/middleware.py
  xrayapp/migrations/0009_remove_predictionhistory_xrayapp_pre_filter__0b8110_idx_and_more.py
  xrayapp/model_loader.py
  xrayapp/models.py
  xrayapp/services.py
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/static/xrayapp/js/common.js
  xrayapp/static/xrayapp/js/results.js
  xrayapp/tasks.py
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/templatetags/xrayapp_extras.py
  xrayapp/tests.py
  xrayapp/transforms.py
  xrayapp/utils.py
  xrayapp/views.py
  xrayapp/views/__init__.py
  xrayapp/views/analysis.py
  xrayapp/views/auth.py
  xrayapp/views/errors.py
  xrayapp/views/history.py
  xrayapp/views/utils.py
  xrayapp/views/xray.py
  xrayapp/visualization_utils.py
Due: markdownlint --fix, flake8, black --check, eslint --fix

Update MCADS with recent fixes and features
  mcads_project/settings.py
  reproduce_issue.py
  xrayapp/forms.py
  xrayapp/inference_logic.py
  xrayapp/interpretability.py
  xrayapp/model_loader.py
  xrayapp/models.py
  xrayapp/static/xrayapp/css/style.css
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/static/xrayapp/vendor/bootstrap/css/bootstrap.min.css
  xrayapp/static/xrayapp/vendor/bootstrap/js/bootstrap.bundle.min.js
  xrayapp/templates/xrayapp/account_settings.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/templatetags/xrayapp_extras.py
  xrayapp/views/auth.py
  xrayapp/views/xray.py
  xrayapp/visualization_utils.py
Due: stylelint --fix, flake8, black --check, eslint --fix

Remove temporary file
  reproduce_issue.py
Due: flake8, black --check

Enhance OOD detection, UI interactions, and visualization logic
  xrayapp/inference_logic.py
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/static/xrayapp/js/common.js
  xrayapp/static/xrayapp/js/results.js
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/edit_prediction.html
  xrayapp/templates/xrayapp/prediction_history.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/templates/xrayapp/saved_records.html
  xrayapp/views/analysis.py
Due: flake8, black --check, eslint --fix

Update dependencies and add OOD detection feedback
  requirements.txt
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/static/xrayapp/js/results.js
  xrayapp/templates/xrayapp/results.html
  xrayapp/views/xray.py
Due: flake8, black --check, eslint --fix

Cleanup of unused files.
  SCALING_GUIDE.md
  mcads.service
  mcads_nginx.conf
  notebooks/MCADS.ipynb
  quick_manual.txt
  restart_services.sh
  scripts/backup_manager.sh
  scripts/certbot-hooks/deploy-copy-certs-and-restart-nginx.sh
  scripts/certbot-hooks/post-start-docker-nginx.sh
  scripts/certbot-hooks/pre-stop-docker-nginx.sh
  scripts/system_backup.sh
  scripts/system_restore.sh
  static/images/favicon.ico
  static/maintenance.html
  tests/00000001_000.png
  tests/16747_3_1.jpg
  tests/normal.jpeg
  tests/process_image.py
  tests/viral_pneumonia.jpeg
Due: markdownlint --fix, flake8, black --check

Update navbar logo to use lungs_icon.png
  xrayapp/static/xrayapp/images/lungs_icon.png
  xrayapp/templates/xrayapp/base.html
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  markdownlint --fix: any of: *.{md,markdown}
  flake8: any of: *.py
  black --check: any of: *.py
  eslint --fix: any of: *.{js,jsx,ts,tsx}
