Repository PauleNajus/MCADS: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, markdownlint --fix, flake8, black --check, eslint --fix

.lintstagedrc.json:

{
  "*.{css,scss}": [
    "stylelint --fix"
  ],
  "*.{md,markdown}": [
    "markdownlint --fix"
  ],
  "*.py": [
    "flake8",
    "black --check"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ]
}

75% processing Issue - fixed.
  fix_stuck_processing.py
  gunicorn.pid
  gunicorn_config.py
  test_xray_processing.py
  xrayapp/utils.py
Due: flake8, black --check

Bug fixes.
  gunicorn.pid
  locale/lt/LC_MESSAGES/django.mo
  locale/lt/LC_MESSAGES/django.po
Due: none

Removed "GRAD-CAM Heatmap" and "Pixel saliency map".
  DEPLOYMENT_SUMMARY.md
  ENHANCEMENT_SUMMARY.md
  README.md
  data_exports/media_files_info.txt
  locale/lt/LC_MESSAGES/django.mo
  locale/lt/LC_MESSAGES/django.po
  xrayapp/interpretability.py
  xrayapp/interpretability_original.py
  xrayapp/models.py
  xrayapp/templates/xrayapp/results.html
  xrayapp/utils.py
  xrayapp/utils_original.py
  xrayapp/views.py
Due: markdownlint --fix, flake8, black --check

Bug fixes.
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/results.html
Due: none

Bug fixes.
  xrayapp/templates/xrayapp/results.html
Due: none

Bug fixes.
  gunicorn.pid
  locale/lt/LC_MESSAGES/django.mo
  locale/lt/LC_MESSAGES/django.po
  logs/gunicorn_error.log.1
  xrayapp/templates/xrayapp/terms_of_service.html
Due: none

Bug fixes.
  gunicorn.pid
  locale/lt/LC_MESSAGES/django.mo
  locale/lt/LC_MESSAGES/django.po
  xrayapp/templates/xrayapp/terms_of_service.html
Due: none

Cleanup.
  check_status.py
  fix_and_restart.sh
  fix_stuck_processing.py
  quick_test.py
  simple_test.py
  test_model.py
  test_xray_processing.py
  todo.txt
Due: flake8, black --check

Bug fixes.
  pyrightconfig.json
Due: none

Added Docker backup.
  .dockerignore
  DOCKER_DEPLOYMENT.md
  DOCKER_SUMMARY.md
  Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  nginx/mcads.conf
  nginx/nginx.conf
  scripts/backup.sh
  scripts/deploy.sh
  scripts/restore.sh
Due: markdownlint --fix

Fixed Docker.
  Dockerfile
  docker-compose.yml
  gunicorn_config.py
  mcads_project/__init__.py
  mcads_project/celery.py
  mcads_project/settings.py
  requirements.txt
  xrayapp/migrations/0007_xrayimage_model_used_and_more.py
  xrayapp/static/xrayapp/css/style.css
  xrayapp/templates/xrayapp/base.html
  xrayapp/utils.py
Due: stylelint --fix, flake8, black --check

Added CXR8 to gitignore.
  .gitignore
Due: none
