Repository PauleNajus/MCADS: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, markdownlint --fix, flake8, black --check, eslint --fix

Updated libraries.
  update_packages.py
Due: flake8, black --check

Updated libraries.
  requirements.txt
  update_packages.py
Due: flake8, black --check

Fixed account settings.
  xrayapp/forms.py
  xrayapp/static/xrayapp/js/theme.js
  xrayapp/templates/xrayapp/account_settings.html
  xrayapp/templates/xrayapp/base.html
  xrayapp/views.py
Due: flake8, black --check, eslint --fix

Added Lithuanian language support.
  locale/lt/LC_MESSAGES/django.mo
  locale/lt/LC_MESSAGES/django.po
  mcads_project/settings.py
  mcads_project/urls.py
  requirements.txt
  xrayapp/admin.py
  xrayapp/forms.py
  xrayapp/models.py
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/static/xrayapp/js/theme.js
  xrayapp/templates/errors/400.html
  xrayapp/templates/errors/401.html
  xrayapp/templates/errors/403.html
  xrayapp/templates/errors/404.html
  xrayapp/templates/errors/408.html
  xrayapp/templates/errors/429.html
  xrayapp/templates/errors/500.html
  xrayapp/templates/errors/502.html
  xrayapp/templates/errors/503.html
  xrayapp/templates/errors/504.html
  xrayapp/templates/errors/error_base.html
  xrayapp/templates/registration/logged_out.html
  xrayapp/templates/registration/login.html
  xrayapp/templates/registration/logout.html
  xrayapp/templates/xrayapp/account_settings.html
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/edit_prediction.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/interpretability.html
  xrayapp/templates/xrayapp/prediction_history.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/templates/xrayapp/terms_of_service.html
  xrayapp/templatetags/xrayapp_extras.py
  xrayapp/urls.py
  xrayapp/views.py
Due: flake8, black --check, eslint --fix

Fixed translations.
  locale/lt/LC_MESSAGES/django.po
  xrayapp/templates/xrayapp/terms_of_service.html
Due: none

Fixed translations.
  README.md
  locale/lt/LC_MESSAGES/django.mo
  locale/lt/LC_MESSAGES/django.po
  mcads_project/settings.py
  xrayapp/templates/xrayapp/interpretability.html
  xrayapp/templates/xrayapp/results.html
Due: markdownlint --fix, flake8, black --check

Fixed translations.
  .markdownlint.json
  xrayapp/templates/xrayapp/interpretability.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/views.py
Due: flake8, black --check

Fixed translations.
  .lintstagedrc.json
  .markdownlint.json
Due: none

Added libraries.
  requirements.txt
Due: none

Fixed Lithuanian translations.
  locale/lt/LC_MESSAGES/django.mo
  locale/lt/LC_MESSAGES/django.po
  xrayapp/views.py
Due: flake8, black --check

Fixed Lithuanian translations.
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/results.html
Due: none

Fixed 404 error.
  xrayapp/templates/xrayapp/results.html
Due: none

Fixed PLI visualization image scaling.
  xrayapp/static/xrayapp/css/style.css
Due: stylelint --fix

Added hospital records.
  xrayapp/management/commands/create_users.py
  xrayapp/migrations/0002_userprofile_hospital.py
  xrayapp/models.py
  xrayapp/templates/xrayapp/account_settings.html
  xrayapp/templates/xrayapp/base.html
  xrayapp/views.py
Due: flake8, black --check

UI update.
  xrayapp/forms.py
  xrayapp/management/commands/create_users.py
  xrayapp/migrations/0003_xrayimage_technologist_first_name_and_more.py
  xrayapp/models.py
  xrayapp/static/xrayapp/css/style.css
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/views.py
Due: stylelint --fix, flake8, black --check

Added technologist column.
  xrayapp/templates/xrayapp/prediction_history.html
Due: none

Fixed UI.
  xrayapp/templates/xrayapp/base.html
Due: none

Fixed UI.
  xrayapp/templates/xrayapp/home.html
Due: none

Fixed UI on mobile devices.
  locale/lt/LC_MESSAGES/django.mo
  locale/lt/LC_MESSAGES/django.po
  xrayapp/management/commands/create_users.py
  xrayapp/static/xrayapp/css/style.css
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/interpretability.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/templates/xrayapp/terms_of_service.html
Due: stylelint --fix, flake8, black --check, eslint --fix

Fixed Lithuanian translations.
  locale/lt/LC_MESSAGES/django.mo
  locale/lt/LC_MESSAGES/django.po
  xrayapp/templates/xrayapp/prediction_history.html
Due: none

Fixed UI for mobile devices.
  xrayapp/static/xrayapp/css/style.css
Due: stylelint --fix

Updated README.MD
  README.md
Due: markdownlint --fix

Added "Image Controls".
  xrayapp/admin.py
  xrayapp/migrations/0004_visualizationresult.py
  xrayapp/models.py
  xrayapp/templates/xrayapp/edit_prediction.html
  xrayapp/templates/xrayapp/interpretability.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/urls.py
  xrayapp/views.py
Due: flake8, black --check

Fixed footer on the "Home" page.
  xrayapp/static/xrayapp/css/style.css
  xrayapp/templates/errors/error_base.html
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/edit_prediction.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/prediction_history.html
  xrayapp/templates/xrayapp/results.html
  xrayapp/templates/xrayapp/terms_of_service.html
Due: stylelint --fix

Optimised style.css.
  xrayapp/static/xrayapp/css/style.css
Due: stylelint --fix

Fixed UI issues.
  xrayapp/static/xrayapp/css/style.css
Due: stylelint --fix

Fixed translations button.
  locale/lt/LC_MESSAGES/django.mo
  locale/lt/LC_MESSAGES/django.po
  xrayapp/static/xrayapp/css/style.css
  xrayapp/templates/xrayapp/base.html
Due: stylelint --fix

Bug fixes.
  xrayapp/forms.py
  xrayapp/migrations/0005_add_saved_record_model.py
  xrayapp/models.py
  xrayapp/static/xrayapp/css/style.css
  xrayapp/templates/registration/logout.html
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/prediction_history.html
  xrayapp/templates/xrayapp/saved_records.html
  xrayapp/urls.py
  xrayapp/views.py
Due: stylelint --fix, flake8, black --check

Bug fixes.
  locale/lt/LC_MESSAGES/django.mo
  locale/lt/LC_MESSAGES/django.po
Due: none

Added eye functionality to password.
  mcads_project/urls.py
  xrayapp/middleware.py
  xrayapp/static/xrayapp/css/style.css
  xrayapp/templates/registration/login.html
Due: stylelint --fix, flake8, black --check

Cleaned the codebase.
  README.md
  requirements.txt
  todo.txt
  xrayapp/management/commands/migrate_existing_data.py
  xrayapp/migrations/0001_initial.py
  xrayapp/migrations/0002_userprofile_hospital.py
  xrayapp/migrations/0003_xrayimage_technologist_first_name_and_more.py
  xrayapp/migrations/0004_visualizationresult.py
  xrayapp/migrations/0005_add_saved_record_model.py
Due: markdownlint --fix, flake8, black --check

Optimizations.
  mcads_project/settings.py
  xrayapp/migrations/0001_initial.py
  xrayapp/migrations/0002_userprofile_hospital.py
  xrayapp/migrations/0003_xrayimage_technologist_first_name_and_more.py
  xrayapp/migrations/0004_visualizationresult.py
  xrayapp/migrations/0005_add_saved_record_model.py
  xrayapp/migrations/0006_remove_support_devices.py
  xrayapp/models.py
  xrayapp/static/xrayapp/css/style.css
  xrayapp/views.py
Due: stylelint --fix, flake8, black --check

UI fixes.
  mcads_project/settings.py
  xrayapp/static/xrayapp/css/style.css
Due: stylelint --fix, flake8, black --check

Removed support_devices.
  xrayapp/migrations/0006_remove_support_devices.py
  xrayapp/models.py
Due: flake8, black --check

Fixed loading and probability bars.
  xrayapp/static/xrayapp/css/style.css
  xrayapp/static/xrayapp/js/analysis.js
  xrayapp/templates/xrayapp/base.html
  xrayapp/templates/xrayapp/home.html
  xrayapp/templates/xrayapp/results.html
Due: stylelint --fix, eslint --fix

Add system enhancements: monitoring, scaling, backup, and load balancing preparations
  ENHANCEMENT_SUMMARY.md
  SCALING_GUIDE.md
  backup_system.py
  gunicorn.pid
  load_balancing_prep.py
  mcads_project/settings.py
  monitoring_alerts.py
  static/maintenance.html
  system_health_monitor.py
  xrayapp/utils.py
Due: markdownlint --fix, flake8, black --check

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  markdownlint --fix: any of: *.{md,markdown}
  flake8: any of: *.py
  black --check: any of: *.py
  eslint --fix: any of: *.{js,jsx,ts,tsx}
